# macOS system files
.DS_Store
**/.DS_Store

# Next.js build output
.next/

# Environment variables
.env

# Ignore all images by default
public/images/*

# BUT allow 'sym' images folder and its contents
!public/images/sym/
!public/images/sym/**
!public/images/Hero.mp4
!public/images/tesimonials/
!public/images/tesimonials/**

# Node modules
node_modules/

# Miscellaneous
git-lfs.tar.gz
